.vscode/launch.json
src/results.csv
src/LSE_1Dec2022_results_1.5-BaseSSP1.csv
src/LSE_1Dec2022_results_1.5-BaseSSP2.csv
src/LSE_1Dec2022_results_1.5-GMP-HighCH4SSP1.csv
src/LSE_1Dec2022_results_1.5-GMP-LowCH4SSP1.csv
src/LSE_1Dec2022_results_1.5-GMPSSP1.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_1.5-BaseSSP1.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_1.5-BaseSSP2.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_1.5-GMP-HighCH4SSP1.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_1.5-GMP-LowCH4SSP1.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_1.5-GMPSSP1.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_CP-BaseSSP2.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_CP-GMP-HighCH4SSP2.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_CP-GMP-LowCH4SSP2.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_CP-GMPSSP2.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_NP-BaseSSP2.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_NP-GMP-HighCH4SSP2.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_NP-GMP-LowCH4SSP2.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_NP-GMPSSP2.csv
src/LSE_1Dec2022_results_CP-BaseSSP2.csv
src/LSE_1Dec2022_results_CP-GMP-HighCH4SSP2.csv
src/LSE_1Dec2022_results_CP-GMP-LowCH4SSP2.csv
src/LSE_1Dec2022_results_CP-GMPSSP2.csv
src/LSE_1Dec2022_results_NP-BaseSSP2.csv
src/LSE_1Dec2022_results_NP-GMP-HighCH4SSP2.csv
src/LSE_1Dec2022_results_NP-GMP-LowCH4SSP2.csv
src/LSE_1Dec2022_results_NP-GMPSSP2.csv
src/LSE_1Dec2022_sc_x_global_1.5-BaseSSP1.csv
src/LSE_1Dec2022_sc_x_global_1.5-BaseSSP2.csv
src/LSE_1Dec2022_sc_x_global_1.5-GMP-HighCH4SSP1.csv
src/LSE_1Dec2022_sc_x_global_1.5-GMP-LowCH4SSP1.csv
src/LSE_1Dec2022_sc_x_global_1.5-GMPSSP1.csv
src/LSE_1Dec2022_sc_x_global_CP-BaseSSP2.csv
src/LSE_1Dec2022_sc_x_global_CP-GMP-HighCH4SSP2.csv
src/LSE_1Dec2022_sc_x_global_CP-GMP-LowCH4SSP2.csv
src/LSE_1Dec2022_sc_x_global_CP-GMPSSP2.csv
src/LSE_1Dec2022_sc_x_global_NP-BaseSSP2.csv
src/LSE_1Dec2022_sc_x_global_NP-GMP-HighCH4SSP2.csv
src/LSE_1Dec2022_sc_x_global_NP-GMP-LowCH4SSP2.csv
src/LSE_1Dec2022_sc_x_global_NP-GMPSSP2.csv
src/LSE_1Dec2022_results_1.5-GMP-HighCH4SSP2.csv
src/LSE_1Dec2022_results_1.5-GMP-LowCH4SSP2.csv
src/LSE_1Dec2022_results_1.5-GMPSSP2.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_1.5-GMP-HighCH4SSP2.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_1.5-GMP-LowCH4SSP2.csv
src/LSE_1Dec2022_results_countrytotaldamages_long_1.5-GMPSSP2.csv
src/LSE_1Dec2022_sc_x_global_1.5-GMP-HighCH4SSP2.csv
src/LSE_1Dec2022_sc_x_global_1.5-GMP-LowCH4SSP2.csv
src/LSE_1Dec2022_sc_x_global_1.5-GMPSSP2.csv
src/LSE_1Dec2022_total_damages_1.5-BaseSSP1.csv
src/LSE_1Dec2022_total_damages_1.5-BaseSSP2.csv
src/LSE_1Dec2022_total_damages_1.5-GMP-HighCH4SSP1.csv
src/LSE_1Dec2022_total_damages_1.5-GMP-HighCH4SSP2.csv
src/LSE_1Dec2022_total_damages_1.5-GMP-LowCH4SSP1.csv
src/LSE_1Dec2022_total_damages_1.5-GMP-LowCH4SSP2.csv
src/LSE_1Dec2022_total_damages_1.5-GMPSSP1.csv
src/LSE_1Dec2022_total_damages_1.5-GMPSSP2.csv
src/LSE_1Dec2022_total_damages_CP-BaseSSP2.csv
src/LSE_1Dec2022_total_damages_CP-GMP-HighCH4SSP2.csv
src/LSE_1Dec2022_total_damages_CP-GMP-LowCH4SSP2.csv
src/LSE_1Dec2022_total_damages_CP-GMPSSP2.csv
src/LSE_1Dec2022_total_damages_NP-BaseSSP2.csv
src/LSE_1Dec2022_total_damages_NP-GMP-HighCH4SSP2.csv
src/LSE_1Dec2022_total_damages_NP-GMP-LowCH4SSP2.csv
src/LSE_1Dec2022_total_damages_NP-GMPSSP2.csv
src/scch4_carbon pulse size tests.jl
src/Results_loop.jl
src/Results_single scenario.jl
src/Results.jl
src/Results.jl
src/Results_loop_temperature graph.jl
src/SC-X_baseTPs.csv
.gitignore
